.loader

%form{ action: "/", method: "POST" }
  %input{ type: "text", name: "name" }
  %input{ type: "submit", value: "Send" }

#dialog-form{ title: "Create new user" }
  %p.validateTips All form fields are required

  %form{ action: "/modal" }
    %fieldset
      %label{ for: "name" } Name
      %input#name.text.ui-widget-content.ui-corner-all{ type: "text", name: "name", value: "name" }
      %label{ for: "email" } Email
      %input#email.text.ui-widget-content.ui-corner-all{ type: "text", name: "email", value: "email" }
      %label{ for: "comment" } Comment
      %input#comment.text.ui-widget-content.ui-corner-all{ type: "text", name: "comment", value: "comment" }

%button.popover Dialog

%br

#msg

%script{ :src => "javascripts/ajax.js" }